.sign {
  width: 900px;
  aspect-ratio: 5/3;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
}

.SVGContainer {
  width: 60%;
  height: 100%;
  display: flex;
  place-items: center;
}

.SVG {
  width: 100%;
}
