@font-face {
  font-family: IRANSans;
  src: url("./assets/font/IRANSans.ttf");
}
@font-face {
  font-family: IRANSans_Bold;
  src: url("./assets/font/IRANSans_Bold.ttf");
}
@font-face {
  font-family: IRANSans_Light;
  src: url("./assets/font/IRANSans_Light.ttf");
}
@font-face {
  font-family: IRANSans_Medium;
  src: url("./assets/font/IRANSans_Medium.ttf");
}
@font-face {
  font-family: IRANSans_UltraLight;
  src: url("./assets/font/IRANSans_UltraLight.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: IRANSans;
  direction: rtl;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
